<div class="game-header">
    <app-time-tracker [time]="gameState.time" [isTuto]="gameState.isTuto" (tickEmitter)="onTickReceive()"></app-time-tracker>
    <app-time-banner *ngIf="!gameState.isTuto" [time]="gameState.time"></app-time-banner>
</div>

<app-game-window *ngFor="let w of gameState.windows; let id = index" [currentDragName]="gameState.drag.draggableName" [windowInfo]="w" [id]="id" [allWindows]="gameState.windows" [currentGoal]="currentGoal" [flame]="gameState.flame" [food]="gameState.food" [people]="gameState.people" [trades]="trades" (draggableEnterEmitter)="onDraggableEnterReceive($event)"></app-game-window>