<div *ngFor="let menu of titles; let i = index" class="window-box" draggable="true" (dragstart)="onWindowDragStart($event)" (dragend)="onWindowDragEnd($event)" style="z-index: 1;">
    <h3 class="window-title" >{{ titles[i] }}</h3>
    <div
        class="window-content"
        [attr.alt]="keywords[i]"
        (dragenter)="onDragEnter($event)"
    >
    <img
        *ngIf="pawnPosition === keywords[i]"
        draggable="true"
        (dragend)="onPawnDragEnd()"
        [src]="'assets/images/draggable/pawn.png'"
    >
    </div>
</div>