<div>
    <div class="menu-container">
        <img src="assets/images/empty-space/pawn.png" alt="game" (dragenter)="onDragEnter($event)">
        <p>Jouer</p>
    </div>
    <div class="menu-container">
        <img src="assets/images/empty-space/pawn.png" alt="background" (dragenter)="onDragEnter($event)">
        <p>Histoire</p>
    </div>
    <div class="menu-container">
        <img src="assets/images/empty-space/pawn.png" alt="credits" (dragenter)="onDragEnter($event)">
        <p>Crédits</p>
    </div>
</div>