<div class="time-bar" *ngIf="time.day >= 2 || time.tick >= 85">
    <img src="assets/images/time/event.png" style="left: 5%" *ngIf="time.day >= 4">
    <img src="assets/images/time/newcomers.png" style="left: 75%" *ngIf="time.day >= 2">
    <img src="assets/images/time/attack.png" style="left: 85%" *ngIf="time.day >= 7">
    <img src="assets/images/time/flame-lost.png" style="left: 100%" *ngIf="time.day >= 5">
    <p>Journée <b>{{ time.day }}</b></p>
    <img src="assets/images/time/position.png" [style]="{'left': time.tick+'%'}">
</div>