.window-title {
    display: flex;
    gap: 0.5em;
    h3 {
        font-size: 1em;
    }
    p {
        font-size: 0.5em;
        margin: auto;
    }
}

.window-slot {
    height: 32px;
    border: 2px dashed black;
}

.progress-bar {
    height: 1em;
    background-color: gray;
}
.bar {
    height: 1em;
    background-color: var(--color-complement);
}

.not-dropable {
    filter: brightness(0.4);
}

.power-text, .flame-text, .pantry-text {
    font-size: 2em;
}

.basic {
    background-color: var(--color-banner-basic);
}
.exploration {
    background-color: var(--color-banner-exploration);
}
.food {
    background-color: var(--color-banner-food);
}
.storage {
    background-color: var(--color-banner-storage);
}
.warning {
    animation: warning-triggered 2s infinite;
}
.workstation {
    background-color: var(--color-banner-workstation);
}

@keyframes warning-triggered {
    0% {background-color: var(--color-banner-food);}
    50% {background-color: var(--color-banner-warning);}
    100% {background-color: var(--color-banner-food);}
}