<div
    class="window-box"
    [ngClass]="isDropableHere() ? '' : 'not-dropable'"
    draggable="true"
    (dragstart)="onWindowDragStart($event)"
    (dragend)="onWindowDragEnd($event)"
    style="z-index: 1;"
>
    <div class="window-title">
        <p *ngIf="windowInfo.name === 'storage'">#{{ storageId() }}</p>
        <div
            *ngIf="windowInfo.slot !== undefined"
            class="window-slot"
            [style]="{'width': (windowInfo.slot.length+1)*32+'px'}"
            (dragenter)="onDragEnterSlot()"
        ><app-draggable-image *ngFor="let s of windowInfo.slot" [name]="s" [windowId]="id+.5"></app-draggable-image></div>
        <h3>{{ getTitle() }}</h3>
        <p *ngIf="windowInfo.usageRemaining !== undefined">x{{ windowInfo.usageRemaining }}</p>
        <p *ngIf="windowInfo.maxSpace !== undefined">{{ windowInfo.content.length+'/'+windowInfo.maxSpace }}</p>
    </div>
    <div
        class="window-content"
        (dragenter)="onDragEnter()"
        *ngIf="windowInfo.name !== 'trash'"
    >
        <app-draggable-image *ngFor="let c of windowInfo.content" [name]="c" [windowId]="id"></app-draggable-image>
    </div>
    <div *ngIf="windowInfo.currentTime !== undefined && windowInfo.maxTime" class="progress-bar"><div class="bar" [style]="{'width': windowInfo.currentTime*100/windowInfo.maxTime+'%'}"></div></div>
</div>