.window-title {
    display: flex;
    gap: 0.5em;
    h3 {
        font-size: 1em;
    }
    p {
        font-size: 0.5em;
        margin: auto;
    }
}

.window-slot {
    height: 32px;
    border: 2px dashed black;
}

.progress-bar {
    height: 1em;
    background-color: gray;
}
.bar {
    height: 1em;
    background-color: var(--color-complement);
}

.not-dropable {
    filter: brightness(0.4);
}